= form_tag root_path do
  = text_field_tag :expression, @expression
  = submit_tag "PROCESS"
%b Parsed result:
%p= @parsed
%p= @message
%br
%b Оптимизация соседних - и /
%p= @optimized
%b Дерево:
%p
  = image_tag "graphe.png"
