= form_tag pipeline_path, :class => "navbar-form" do
  %table
    %tr
      %td Выражение
      %td{:style => "width:100%"}
        = text_field_tag :expression, @expression, :style => "width:70%"
    %tr
      %td Количество слоев
      %td
        = text_field_tag :layers, @layers, :style => "width:10%"
        = submit_tag "Погрузка всех вариантов" , :class => "btn"
%p
  %b Возможные варианты:
#accordion2.accordion
  - @all.each_with_index do |pipe, i|
    .accordion-group
      .accourdion-heading
        %a.accourdion-toggle{:data => {:toggle => "collapse", :parent => "#accordion2"}, :href => "#collapse_#{i}"}
          = pipe[:expression]
          время - #{pipe[:pipeline][:sum_weight]}
      .accordion-body.collapse.in{:id => "collapse_#{i}"}
        .accordion-inner
          = render "pipeline", :layers => pipe[:pipeline][:layers], :pipeline => pipe[:pipeline][:pipeline], :file => pipe[:exp], :weight => pipe[:pipeline][:weight], :exp => pipe[:expression]
